{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.jpg' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Panah Foundation</title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/material-kit.css' %}" rel="stylesheet" />
</head>

<body class="landing-page">
    <nav class="navbar navbar-danger navbar-transparent navbar-absolute">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% static 'presentation.html' %}">Panah Foundation</a>   
                <div id="google_translate_element"></div>
            </div>

            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'login' %}"> Login
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">Sign Up
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="active"
        style="background-image: url({% static 'img/panah.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">Panah Foundation</h1>
                    <h5>Non-governmental organisation (NGO)</h5>
                    <br />
                    <a href="https://www.facebook.com/770339426379443/videos/2569777439953735" target="_blank"
                        class="btn btn-success btn-raised btn-lg">
                        <i class="fa fa-play"></i> Watch video
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <div class="section text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">ABOUT US</h2>
                        <h4 class="description">
                            Panah works with Migrant and semi-migrant laborers to providing
                            Training and jobs , Information and Access for them and
                            Education support for laborers kids as well. Creating
                            Opportunity For migrants laborers.
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="features">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="title">SCHEMES</h2>
                        </div>
                        <!--  Add tht schemes here -->
                        {% for scheme in schemes %}
                        <div class="col-md-4">
                            <h4 class="info-title">{{ scheme.name }}</h4>
                            <p>{{scheme.scheme_url}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <button class="btn btn-primary btn-raised">
                            Filter Schemes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
		<footer class="footer">
			<div class="container">
				<nav class="pull-left">
					<ul>
						<li> Code For Good
						</li>
						<li> Team 69
						</li>
						<li>[404 Error Not Found]
						</li>
						</li>
					</ul>
        </nav>
				<div class="copyright pull-right">
					&copy;
					<script>document.write(new Date().getFullYear())</script>, made with <i
						class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com" target="_blank">Creative
						Tim</a>
				</div>
			</div>
		</footer>
  </body>
  <!--   Core JS Files   -->
  
  <script type="text/javascript"> function googleTranslateElementInit() { new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element'); }  
  </script>
  <script type="text/javascript"
    src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/material.min.js' %}"></script>

  <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'js/nouislider.min.js' %}" type="text/javascript"></script>

  <!--	Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
  <script
    src="{% static 'js/bootstrap-datepicker.js' %}"
    type="text/javascript"
  ></script>

  <!--	Plugin for Select Form control, full documentation here: https://github.com/FezVrasta/dropdown.js -->
  <script src="{% static 'js/jquery.dropdown.js' %}" type="text/javascript"></script>

  <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
  <script src="{% static 'js/jquery.tagsinput.js' %}"></script>

  <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'js/jasny-bootstrap.min.js' %}"></script>

  <!-- Plugin For Google Maps -->
  <script
    type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?v=3.exp"
  ></script>

  <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
  <script src="{% static 'js/material-kit.js' %}" type="text/javascript"></script>
</html>
