body {
  background-color: #dfdff5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-btn:focus {
  border: none;
  outline: none;
}
.alert {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 15px;
  align-self: flex-start;
}
a {
  text-decoration: none;
}
.main-logo {
  text-decoration: none !important;
  color: white;
  font-size: 45px;
  font-weight: "80%";
}
.main-logo:hover {
  text-decoration: none;
  cursor: pointer;
}
.no-btn {
  border: none;
}
.error-dailog {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.success-dailog {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* NAVBAR */
.nav {
  display: flex;
  background: #50508c;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.nav-f {
  position: absolute;
  top: 88vh;
  width: 100vw;
  display: flex;
  background: #50508c;
  box-sizing: border-box;
  padding-left: 300px;
  align-items: center;
  justify-content: space-between;
}
.nav-f p {
  color: white;
  font-size: 20px;
}
nav .user {
  display: flex;
  align-items: center;
}
nav span {
  margin-left: 10px;
}
nav .right-nav {
  display: flex;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
nav .nav-links ul {
  display: flex;
  list-style-type: none;
}
nav .nav-links ul li {
  padding: 0 4px;
}
nav .nav-links ul li a {
  text-decoration: none;
  color: #fff;
}
nav .nav-links ul li a:hover {
  text-decoration: underline;
}
nav .nav-links ul li:hover {
  cursor: pointer;
}

/* LOGIN & SIGNUP COMPONENTS */
.login-signup-header {
  font-weight: 600;
  font-size: 30px;
  color: #6b46c0;
}
.login-form {
  box-shadow: 0 0 2px 2px #9b9bd1;
  background-color: #dfdff5;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  border-radius: 6px;
}
.field {
  width: 100%;
}
.field input {
  border: 1px solid rgba(63, 45, 119, 0.2);
  box-sizing: border-box;
  background-color: #bfc2ec;
  color: #c2c2e0;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}
.field input:focus {
  outline: none;
}
.field button {
  width: 100%;
  margin-top: 20px;
  background: #bfc2ec;
  border-radius: 2px;
  color: black;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
.field button:hover {
  cursor: pointer;
}
